[variables]
NODE_ENV = "production"

[phases.setup]
# pnpm'i Nix'ten kuruyoruz, Nginx'i de ekliyoruz
nixPkgs = ["nodejs_22", "pnpm", "nginx"]

[phases.install]
cmds = [
  "pnpm --version",
  "pnpm install --frozen-lockfile"
]

[phases.build]
# Vite (dist) → CRA (build) uyumluluğu
cmds = [
  "pnpm build",
  "if [ -d dist ] && [ ! -d build ]; then mv dist build; fi"
]


[start]
cmds = [
  "pnpm start"
]
