[phases.setup]
nixPkgs = [
  "nodejs_20",
  "pnpm"
]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[phases.start]
cmds = ["pnpm run start"]

[variables]
PORT = "3000"
